<div class="row">
	<div class="col-sm-2 col-sm-offset-3">
		<div class="plan_box">
			<h3> Plan Free </h3>
			<p> No Charge 
				<br>Try out projects
			</p>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="plan_box">
			<h3> Plan Individual </h3>
			<p> $14 per month 
				<br> Private for you
				<br> Great for you
			</p>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="plan_box">
			<h3> Plan Group </h3>
			<p> $24 per month 
				<br> Private for your group
				<br> Great for teams
			</p>
		</div>
	</div>
</div>